* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* border: 1px solid lightcoral; */
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 250px 900px 1fr;
  grid-template-rows: 150px 1fr 1fr 1fr;
}
.heading {
  font-weight: regular;
  font-size: 40px;
  display: flex;
  align-items: flex-end;
  grid-area: 1/2/2/3;
}
.heading-status {
  padding-right: 10px;
}
.sidebar {
  grid-area: 2/1/4/2;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding: 5px;
}

div.sidebar * {
  font-size: 19px;
}

.heading-status {
  font-size: 80px;
}

.task-list {
  grid-area: 2/2/5/3;
  border: 10px;
}
.task-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.task-edit {
  margin-top: 4px;
}

.form-container {
  grid-area: 2/3/4/4;
}

/* button styling */

.add {
  /* align-items: center; */
  background-color: #ffffff;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  border-radius: 0.25rem;
  box-shadow: rgb(0 0 0 / 2%) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  /* display: inline-flex; */
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  /* justify-content: center; */
  /* line-height: 1.25; */
  /* margin: 0; */
  /* min-height: 3rem; */
  padding: calc(0.575rem - 1px) calc(1rem - 1px);
  /* position: relative; */
  /* text-decoration: none; */
  transition: all 250ms;
  /* user-select: none; */
  /* -webkit-user-select: none; */
  /* touch-action: manipulation; */
  /* vertical-align: baseline; */
  /* width: auto; */
}

.add:hover,
.add:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.add:hover {
  transform: translateY(-1px);
}

.add:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

/* checklist styles */

.task {
  border: 1px solid lightgray;
  --text: #414856;
  --check: #4f29f0;
  --disabled: #c3c8de;
  --height: 50px;
  /* --width: 100px; */
  --border-radius: 10px;
  background: var(--background);
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  position: relative;
  box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
  padding: 10px 45px;
  display: grid;
  grid-template-columns: 30px 75% 20%;
  align-items: center;
  margin: 4px;
}

.task label {
  color: var(--text);
  position: relative;
  cursor: pointer;
  display: grid;
  align-items: center;
  width: fit-content;
  transition: color 0.3s ease;
}
.task label::before,
.task label::after {
  content: "";
  position: absolute;
}
.task label::before {
  height: 2px;
  width: 8px;
  left: -27px;
  background: var(--check);
  border-radius: 2px;
  transition: background 0.3s ease;
}
.task label:after {
  height: 4px;
  width: 4px;
  top: 8px;
  left: -25px;
  border-radius: 50%;
}
.task input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  height: 15px;
  width: 15px;
  outline: none;
  border: 0;
  margin: 0 15px 0 0;
  cursor: pointer;
  background: var(--background);
  display: grid;
  align-items: center;
}
.task input[type="checkbox"]::before,
.task input[type="checkbox"]::after {
  content: "";
  position: absolute;
  height: 2px;
  top: auto;
  background: var(--check);
  border-radius: 2px;
}
.task input[type="checkbox"]::before {
  width: 0px;
  right: 60%;
  transform-origin: right bottom;
}
.task input[type="checkbox"]::after {
  width: 0px;
  left: 40%;
  transform-origin: left bottom;
}
.task input[type="checkbox"]:checked::before {
  animation: check-01 0.4s ease forwards;
}
.task input[type="checkbox"]:checked::after {
  animation: check-02 0.4s ease forwards;
}
.task input[type="checkbox"]:checked + label {
  color: var(--disabled);
  animation: move 0.3s ease 0.1s forwards;
}
.task input[type="checkbox"]:checked + label::before {
  background: var(--disabled);
  animation: slice 0.4s ease forwards;
}
.task input[type="checkbox"]:checked + label::after {
  animation: firework 0.5s ease forwards 0.1s;
}

@keyframes move {
  50% {
    padding-left: 8px;
    padding-right: 0px;
  }
  100% {
    padding-right: 4px;
  }
}
@keyframes slice {
  60% {
    width: 100%;
    left: 4px;
  }
  100% {
    width: 100%;
    left: -2px;
    padding-left: 0;
  }
}
@keyframes check-01 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }
  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }
  51% {
    width: 0px;
    top: 8px;
    transform: rotate(45deg);
  }
  100% {
    width: 5px;
    top: 8px;
    transform: rotate(45deg);
  }
}
@keyframes check-02 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }
  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }
  51% {
    width: 0px;
    top: 8px;
    transform: rotate(-45deg);
  }
  100% {
    width: 10px;
    top: 8px;
    transform: rotate(-45deg);
  }
}
@keyframes firework {
  0% {
    opacity: 1;
    box-shadow: 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0,
      0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    box-shadow: 0 -15px 0 0px #4f29f0, 14px -8px 0 0px #4f29f0,
      14px 8px 0 0px #4f29f0, 0 15px 0 0px #4f29f0, -14px 8px 0 0px #4f29f0,
      -14px -8px 0 0px #4f29f0;
  }
}

/*# sourceMappingURL=styles.css.map */
